body{
    background: rgb(57,75,150);
    background: linear-gradient(90deg, rgba(57,75,150,1) 0%, rgba(5,87,241,1) 0%, rgba(0,212,255,1) 100%);
}

#container {
    width: 360px;
    height: 712px;
    margin: 56px auto 0px;
    text-align: center;
    padding: 0 24px; /* 0 é top e bottom e 24px é right e left */
   
}

.titulo {
    font-size: 25px;
    font-style:initial;
}

input {
    box-shadow: 0, 0, 0, 0;
    outline: 0;
    border:none;
    padding: 8px;
    border-radius: 15px;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}