





body{
    background: rgb(57,75,150);
    background: linear-gradient(90deg, rgba(57,75,150,1) 0%, rgba(5,87,241,1) 0%, rgba(0,212,255,1) 100%);
}

#container {
    width: 360px;
    height: 712px;
    margin: 0px auto 0px;
    text-align: center;
    padding: 0 24px; /* 0 é top e bottom e 24px é right e left */
   
}

.titulo {
    font-size: 25px;
    font-style:initial;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column; /* flexibilidade na coluna */
    gap: 10px; /* espaço entre cada item da lista */
    padding: 24px 0px;
}

ul li a{
    display: flex;
    align-items: center; /*alinhamemto na vertical*/
    justify-content: center; /*na horizontal*/
    padding: 10px 24px; /* 16px é top e bottom e 24px é right e left */
    border: 1px solid rgba(4, 59, 211, 0.5); /* 50% de transparencia*/
    border-radius: 8px; /* borda aredondada*/
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}